/* Profile style sheet */

.profile {
  width: 165px;
  padding: 20px 30px;
}

/* .profile-img {
  width: 175px;
  height: 175px;
} */

.profile-img {
  width: 165px;
  height: 165px;
}

.name-text {
  margin-bottom: 15px;
}

.role-text {
  margin-top: 20px;
  margin-bottom: 20px;
}

.class-text,
.major-text {
  margin: 0px;
}
