.top-bar {
    margin-top: 72px;
}

.logo {
    background-color: black;
    width: 160px;
    height: 160px;
}

.nav-bar {
    font-family: var(--title), var(--title-fallback);
    font-weight: bold;
    font-size: 20px;
}

.nav-link {
    text-decoration: white;
    color: black;
}

.dropdown-item {
    text-decoration: none;
    color: black;
}