/* Divider style sheet */

.divider-box {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
}
/* .divider {
    background-color: var(--accent-color);
    width: 100px;
    height: 6px;
} */