/* style sheet for ProjectBar */

.projectNavContainer {
    display: flex;
    margin: auto;
    justify-content: center;
}

.projectBar-pages {
    max-width: 1500px;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 24px;
    font-family: var(--title), var(--title-fallback);
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: flex-end;    
    color: var(--darkText-color);
}
