.highlight-link a {
    color: black;
}

.highlight-link a:hover {
    color: var(--accent-color);
}

.join-buttons {
    display: flex;
    flex-wrap: wrap;
}

.profile-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-box {
    display: flex;
    flex-wrap: wrap;
}