#home-long {
    display: flex;
    align-items: center;
    align-content: center;
    height: 100%;
    background-color: var(--gray);
    border: 50px solid white;
    border-style: solid none solid none;
    box-sizing: border-box;
}

.home-img {
    width: 100%;
    height: initial;
}

.dark-spacer {
    background-color: var(--gray);
    margin-bottom: 20px;
    margin-top: 20px;
    height: 4px;
    border-radius: 20px;
}
#our-mission .right-section {
    display: flex;
    flex-direction: column;
}

.highlight-link {
    color: black;
}

.highlight-link:hover {
    color: var(--accent-color);
}

.join-buttons {
    display: flex;
    flex-wrap: wrap;
}

.profile-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-box {
    display: flex;
    flex-wrap: wrap;
}