.socials {
    display:flex;
    justify-content:flex-end;
    padding: 6px;
}

.socials-img {
    color: black;
    width: 25px;
    height: 25px;
    margin-top: 10px;
    padding: .1rem;
}

.socials-img:hover {
    color: var(--accent-color);
}