/* AlignedSection style sheet */

@media screen and (min-width: 1300px) {

    .aligned-section {
        display: flex;
    }

    .container {
        display: flex;
        max-width: 1500px;
        margin: auto;
        justify-content: space-between;
    }
    
    .left-section, .right-section {
        padding: 20px;
    }
    .left-section {
        flex: 0 0 40%;
        display: flex;
        flex-direction:column;
        justify-content: center;
        max-width: 500px;
        margin: 5% 0;
        column-gap: 0px;
    }
}

/* mobile version: */
@media screen and (min-width: 400px) {
    .left-section, .right-section {
        padding: 20px;
    }
  }