@media screen and (min-width: 800px) {
    .aligned-section {
        display: flex;
    }
    
    .left-section, .right-section {
        padding: 20px;
    }
    .left-section {
        flex: 0 0 40%;
        max-width: 400px;
    }
}

@media screen and (min-width: 400px) {
    .left-section, .right-section {
        padding: 20px;
    }
  }